{% extends "templates/email/base_email.html" %} {% block header_title %}Approval Request{% endblock
%} {% block content %}
<h2>Hello Admin,</h2>
<p>
	{{ user_data.full_name|capitalize }} has submitted a
	<strong>{{ request_data['request_type']|capitalize }}</strong> request that requires your
	approval.
</p>

<h3>Request Details:</h3>
<ul>
	<li>
		<strong>Employee:</strong> {{ user_data.full_name|capitalize }} ({{ user_data.name
		}})
	</li>
	<li><strong>Request Type:</strong> {{ request_data['request_type']|capitalize }}</li>
	<li><strong>Meal Name:</strong> {{ meal_name|capitalize }}</li>
	{% if request_data['request_type'] == 'Guest Coupon Generation' %}
	<li><strong>Guest Name:</strong> {{ request_data['guest_name']|capitalize }}</li>
	<li><strong>Guest Mobile No.:</strong> {{ request_data['guest_mobile_no'] }}</li>
	<li>
		<strong>Purpose of Visiting:</strong> {{ request_data['purpose_of_visiting']|capitalize }}
	</li>
	{% endif %}
	<li><strong>Description:</strong> {{ request_data['description']|capitalize }}</li>
	<li>
		<strong>Date Submitted:</strong> {{ frappe.utils.now_datetime().strftime('%d %b %Y %I:%M
		%p') }}
	</li>
</ul>

<div style="margin: 30px 0; text-align: center">
	<a href="{{ get_approval_link }}" class="button">Review Request</a>
</div>

<p>Please review this request at your earliest convenience.</p>
{% endblock %}
