{% extends "templates/email/base_email.html" %}

{% block header_title %}Welcome Aboard, {{ user_data.employee_name|capitalize }}!{% endblock %}

{% block content %}
    <h2>Hey {{ user_data.employee_name|capitalize }},</h2>

    <p>Congratulations! You have been officially inducted into the prestigious world of meal bookings. 🎉</p>

    <p>But wait! Before you can start booking gourmet meals (or just lunch), you need to log in first.</p>

    <h3>Your Exclusive Login Details:</h3>
    <ul>
        <li><strong>Email:</strong> {{ user_data.email }}</li>
        <li><strong>Temporary Password:</strong> {{ password }}</li>
    </ul>
    {% if user_data.role == 'Hotpot User' or user_data.role == 'Hotpot Vendor' %}
    <p>
        Open your app and enter the credentials.
    </p>
    {% else %}
    <p>Click the button below to log in and change your password before you forget it (or before we do 🤷‍♂️).</p>

    <div style="margin: 30px 0; text-align: center;">
        <a href="{{ login_url }}" class="button">Login Now</a>
    </div>
    {% endif %}

    <p>Bon Appétit! 🍕</p>
    <p><strong>- Hotpot Team</strong></p>
{% endblock %}
